<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alamsz.inc.expensetracker"
    android:versionCode="7"
    android:versionName="1.4" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.VPI" >
        <activity
            android:name="com.alamsz.inc.expensetracker.ExpenseTrackerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".preference.ExpenseTrackerPreference" />
        <activity android:name=".utility.activity.DirectoryChooserActivity" />
        <activity android:name=".utility.DirectoryChooser" />
        <activity android:name=".utility.activity.AboutActivity" />
        <activity android:name=".ConfigurationListActivity" />
        <activity android:name=".ConfigurationDetailActivity" />
        <activity android:name=".ReportActivity" />
        <activity android:name=".ReportDetailActivity" />
        <activity android:name=".PayRecActivity" />
        <activity android:name=".PayRecPaymentActivity" />
        <activity android:name=".PayRecPaymentDetailActivity" />
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    </application>

</manifest>